body {
  display: grid;
  grid-template-rows: 92px 1fr 64px;
  grid-template-columns: 192px auto;
  grid-template-areas: "h h"
                       "n m"
                       "f f";
  margin: 0;
  min-height: 100vh;
}

header {
  grid-area: h;
}

nav {
  grid-area: n;
}

main {
  grid-area: m;
  overflow-y: auto;
}

footer {
  grid-area: f;
  text-align: center;
}