/* Standardmäßig ALLE Screens und die Start-Sektion ausblenden */
 .app-screen, .app-start {
     display: none !important;
     width: 100%;
     height: 100%;
 }

 /* Nur der Screen, der die CSS-Klasse "active" hat, wird angezeigt */
 .app-screen.active, .app-start.active {
     display: block !important;
 }

 /* 2. Screen der foodgroups (Tippfehler bei grid-template korrigiert) */
 .groups-grid {
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 20px;
     padding: 20px;
 }
/*1. screen Ansicht*/
.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#cookingBoardBt {
    width: 280px;
    height: 160px;
    border-radius: 20px;

    background-color: #D2B48C;
    border: 4px solid #B59975;

    font-size: 28px;
    font-weight: bold;
    color: #4A3525;
    font-family: 'Arial Black', sans-serif;
    text-transform: uppercase;

    box-shadow:
        inset 0 0 0 8px #C4A47C,
        0 8px 16px rgba(0, 0, 0, 0.2);

    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

#cookingBoardBt:hover {
    background-color: #DBBE96;
}

#cookingBoardBt:active {
    transform: scale(0.96);
    box-shadow:
        inset 0 0 0 8px #C4A47C,
        0 4px 8px rgba(0, 0, 0, 0.2);
}

/*2. Screen der foodgroups*/
.groups-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

/* Die Zutaten-Buttons untereinander anordnen */
.ingredients-buttons-grid {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 300px;
    margin: 0 auto 24px auto;
}

/* Den Zutaten-Buttons ein Design geben*/
.ingredient-card-bt {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.ingredient-card-bt:hover {
    background-color: #e0e0e0; /* Effekt beim drüberfahrn */
}

/* Abstand über dem Cancel-Button erzwingen */
#backToGroupsBt {
    margin-top: 20px;
}

