.stats-container {
    padding: 20px;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.user-avatar {
    display: block ;
    margin: 0 auto 15px auto ; /* Oben 0, Links/Rechts AUTO (zentriert!), Unten 15px Platz */

    /* Hier kannst du die Größe für die Statistik-Seite anpassen,
       falls 40px über dem Titel zu klein wirken: */
    width: 65px ;
    height: 65px ;
    border-radius: 50% ;
    object-fit: cover ;
}

#statsDishTitle {
    color: #4A3525;
    margin-bottom: 20px;
}

/* Die Box für das Diagramm begrenzen, sonst wird es riesig */
.chart-box {
    position: relative;
    margin: 0 auto 30px auto;
    height: 300px;
    width: 300px;
}

.info-card {
    background-color: #fdfaf4;
    border: 2px solid #b59975;
    border-radius: 15px;
    padding: 15px;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

.info-card h3 {
    margin: 0;
    font-size: 1rem;
    color: #8fa3ad;
}

#totalCaloriesDisplay {
    font-size: 2rem;
    font-weight: bold;
    color: #4A3525;
    margin: 10px 0 0 0;
}

