header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
    color: #000000;
    text-align: center;
}

article {
    border-radius: 16px;
    padding: 16px;
    width: 384px;
    margin: 8px;
}

#loginForm, #registerForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
}

.welcome-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}


.login-welcome-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
#authBt, #registerBt{
    width: 180px;
    height: 180px;

    border-radius: 50%;
    border: none;

    font-size: 28px;
    font-weight: bold;
    color: white;
    background: #A3B899;

    cursor: pointer;

    box-shadow: 0 6px 12px rgba(0,0,0,0.2);

    transition: transform 0.1s ease;
}

#authBt:active, #registerBt:active {
    transform: scale(0.95);
}